.child-tables {
	width: 80%;
	padding: 0px 8%;
}

.child-table {
	  padding: 0px 5px 10px;
  border: 1px solid;
  margin: 10px 0px;
  border-radius: 10px;
}

.pagination li {
	display: inline;
	padding: 2px 5px;
	border: 1px solid #EDEDED;
	border-radius: 4px;
	margin: 1px;
}

.dataTables_wrapper {
   margin: 10px;
}

.draggable.line {
	display: none !important;
}

.nav-section {
	display: inline-block;
	margin: 3px;
	border: 1px solid #000;
	padding: 0px;
}
.nav-section > span {
	font-weight: bold;
	text-decoration: underline;
	width: 100px;
	display: inline-block;
	background-color: #AEAEAE;
	padding: 5px;
}

.nav-section > .btn-group {
	padding: 5px;
}